*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
@font-face {
    font-family: "Sans Serif";
    src: url("/fonts/circular-std-medium-500.ttf") format("ttf");
        
  }
body{
    font-family: circular std,sans-serif;
}
header{
    background-color:#541554;
    
}
ul li{
    list-style-type: none;
}
.navitems ul > li {
  padding: 10px;
  color:white;
  display:inline-block;
  vertical-align: center;
}
.nav-part1{
    float:left;
}
.nav-part2{
    float:right;
    margin:auto;
}
.clear{
    clear:both;
}
.container{
    width:80%;
    margin:0 auto;
    
}
.middle{
    background-color: #F4EDE4;
}
button{
    padding:10px;
    border:1px solid white;
    margin-bottom: 13px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
#sales{
    background-color:transparent;
    color:white;
}
#sales:hover{
    border:2px solid white;
}
#free{
    background-color: white;
}
#free:hover{
    border-radius: 0%;
    padding: 8px;
}
.left{
    float:left;
    width:50%;
    padding: 20px;
    color:white;
    margin-left: 10px;
    margin-bottom: 20px;
}
.right{
    float:right;
    display: inline;
    width: 48%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.right video{
    width: 100%;
}
.clear2{
    clear: both;
}
h1{
    font-size:64px;
}
span{
    
    color:#CB9036;
}
.paragraph1{
    font-size: 20px;
    padding-top:30px;
}
.signUp{
    background-color: #4285F4; 
    padding: 0px; 
    float:left;
    width: 45%;
    margin-top: 10px;
}
.email{
    padding: 15px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    float:right;
    width: 45%;
    margin-top: 10px;
}
#googleimg{
    background-color: white;
    float:left;
    width: 18%;
}
.p2{
    float:right;
    padding-top: 15px;
    margin-left: 0px;
    width: 82%;
}
.partners{
    text-align: center;
    padding: 50px 0;
}
.companies>li{
    vertical-align: middle;
    padding-right: 40px;
    display:inline-block;
}
.channelsvideo,.flexibletext,.platformvideo,.youtubevideo{
    width: 50%;
    float:left;

}
.channelstext,.flexiblevideo,.platformtext{
    width: 50%;
    float:right;
}
.channelsvideo video,.flexiblevideo video,.platformvideo video{
    width: 100%;
}
.channels,.flexible,.platform{
    padding:40px;
}
.middleP{
    font-size:18px;
}
.middleh2{
    font-size: 50px;
}
.channelstext,.platformtext{
    vertical-align: center;
    padding: 50px;
}
.flexibletext{
    padding-right: 50px;
}
.stats{
    text-align: center;
}
.reliance{
    padding: 35px 0px;
}
.enterprise{
    background-color:#541554;
    color: white;
    padding:25px 32px;
    margin:10px;
}
.enterprise:hover{
    background-color: #300630;
}
#sales2{
    border:1px solid #541554;
    color:#541554;
    padding: 20px;
    background-color: white;
    padding:25px 34px;
}
#sales2:hover{
    border:3px solid #541554;
    padding:22px 32px;
}
.stat1{
    float:left;
    padding:30px;
    width: 26.7%;
    text-align: left;
    font-weight: bold;
    margin-left: 60px;
}

.percentage{
    font-size: 64px;
    color:#641464 ;
    font-weight: bolder;
}
.youtube{
    padding-top:80px;
}
.youtubevideo video{
    width: 93%;
    margin-right: 100px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}
.customer{
    font-size: 28px;
    color:rgb(31, 29, 29);
    font-style: italic;
    vertical-align: center;
    font-weight:lighter;
}
.footnote{
    padding:40px;
    font-size:14px;
    color:#696969;
}
.div4{
    background-color: #541554;
    padding:6%;
    text-align: center;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    color: white;
    
}
.cards{
    text-align: center;
    background-color:#F4EDE4;
    padding: 50px;
}
.card1{
    background-color: #541554;
    padding: 10px;
    text-align:left;
    color: white;
    width: 23%;
    float: left;
}
.card1:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.card{
    padding: 10px;
    float: left;
    width: 23%;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgb(158, 151, 151);
}
.card:hover{
    cursor:pointer;
    transform: scale(1.1);
}
.allcards div:not(:first-child){
    margin-left: 2%;
}
.allcards{
    padding-top: 20px;
    height: 100%;
}
.card1arrow{
    float:right;
    color:white;
}
.cardarrow{
    color:blue;
}
.foot{
    float: left;
}
.cardimage{
    padding:10px;
}
.card1-footer{
    margin-top: 40%;
    color: white;
}
.card2-footer{
    margin-top: 30%;
}
.card4-footer{
    margin-top: 30%;
}
.card-footer{
    margin-top: 40%;
}
.cardh5{
    padding-top: 15px;
    color: #696969;
    text-align: left;
}
.cardh3{
    padding-top:10px;
    color:black;
    text-align: left;
}
.foot2{
    float:left;
    color:rgb(72, 72, 172);
    text-align: left;
}
.footerlinks{
    float:left;
    margin:30px;
    line-height: 2;
    color:#696969;
}
footer li:hover{
    color: #4285F4;
    cursor: pointer;
}
.footer-left li,.footer-right li{
    display:inline-block;
    vertical-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    font-size: 0.7rem;
    color: black;
    font-weight: bolder;
    padding:2%;
}
.footer-left{
    float: left;
    width: 50%;
    margin-right: 10%;
}
.footer-right{
    float: right;
    width: 30%;
}
.copyright{
    font-size: 0.8rem;
    padding-bottom: 5%;
    padding-top: 4%;
}