* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body {
  font-family: Montserrat, sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #541554;
}

ul li {
  list-style-type: none;
}
.nav-content {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-part1 ul,
.nav-part2 ul {
  display: flex;
  align-items: center;
  gap: 1.3em;
  color: white;
  padding-top: 2em;
}
a[href="#"] {
  color: #4285f4;
}

.digital-hq {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  padding: 3em 0;
  justify-content: space-between;
}
.nav-left {
  color: white;
  width: 45%;
}
.nav-right {
  width: 50%;
}
button {
  border: 1px solid white;
  margin-bottom: 2em;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.7rem;
}
#sales {
  background-color: transparent;
  color: white;
  padding: 1em 1.5em;
  font-size: 0.7rem;
}
#sales:hover {
  border: 2px solid white;
}
#free {
  background-color: white;
  padding: 1em 1.5em;
}
#free:hover {
  border-radius: 0%;
  zoom: 0.9;
}

.nav-right video {
  width: 100%;
}
h1 {
  font-size: 3rem;
}
span {
  color: #cb9036;
}
.paragraph1 {
  font-size: 1.3em;
  margin: 1em 0;
}
.header-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.5em;
}
.signUp {
  background-color: #4285f4;
  border: none;
  color: white;
}
.email {
  padding: 1em 2em;
  background-color: transparent;
  color: white;
  width: 45%;
}
.google-signup {
  display: flex;
  gap: 1em;
  align-items: center;
  padding-right: 1em;
}
.google-signup img {
  background-color: white;
  margin: 0.2em;
  height: 40px;
}

.partners {
  text-align: center;
}
.companies1,
.companies2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4em;
  margin-top: 1.5em;
}
.companies2 {
  gap: 5.5em;
}
.channels,
.flexible,
.platform {
  display: flex;
  flex-wrap: wrap;
  margin: 3em 0;
  gap: 4em;
  justify-content: center;
}
.platformtext,
.channelstext,
.flexibletext {
  width: 45%;
}
.channelsvideo,
.flexiblevideo,
.platformvideo {
  width: 45%;
}
.middle {
  background-color: #f4ede4;
  padding: 3em 0;
}
.middleP {
  font-size: 1.5rem;
}
.middleh2 {
  font-size: 3rem;
}
.reliance-paragraph {
  padding: 1em;
}
.stats {
  text-align: center;
  padding: 2em 0;
}
.middle-buttons {
  text-align: center;
  padding-top: 4em;
}
.enterprise {
  background-color: #541554;
  color: white;
  padding: 2em 2.5em;
}
.enterprise:hover {
  background-color: #300630;
}
#sales2 {
  border: 1px solid #541554;
  color: #541554;
  background-color: white;
  padding: 2em 1.5em;
}
#sales2:hover {
  border: 3px solid #541554;
  padding: 2em 2.5em;
}
.allstat {
  display: flex;
}
.stat1 {
  padding: 4em;
  width: 26.7%;
  text-align: left;
  font-weight: bold;
  margin-left: 4.5em;
}

.percentage {
  font-size: 4em;
  color: #641464;
  font-weight: bolder;
}
.youtube {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.quote {
  width: 50%;
  padding-left: 3em;
}
.youtubevideo {
  width: 50%;
}
.youtubevideo video {
  width: 100%;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}
.customer {
  font-size: 1.8em;
  color: rgb(31, 29, 29);
  font-style: oblique;
  vertical-align: center;
  font-weight: lighter;
  padding-bottom: 1em;
}
.footnote {
  padding: 2em;
  font-size: 14px;
  color: #696969;
}

/* THIS IS THE CARDS SECTION */

.cards-section {
  text-align: center;
  background-color: #f4ede4;
  padding: 3em;
}
.allcards {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;
  padding-top: 1.5em;
  height: 100%;
}
.card {
  padding: 0.5em;
  width: 20%;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(158, 151, 151);
}
.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card1 {
  background-color: #541554;
  padding: 1em;
  text-align: left;
  color: white;
  width: 20%;
}
.card1:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card-footer {
  display: flex;
  justify-content: space-between;
}
.card1arrow {
  color: white;
}
.cardarrow {
  color: rgb(69, 69, 170);
}

.cardimage {
  padding: 0.5em;
}
.card1-footer,
.card2-footer,
.card3-footer {
  display: flex;
  justify-content: space-between;
}
.card1-footer {
  margin-top: 35%;
  color: white;
}

.card2-footer {
  margin-top: 45%;
}

.card3-footer {
  margin-top: 32%;
}
.cardh5 {
  padding-top: 15px;
  color: #696969;
  text-align: left;
}
.cardh3 {
  padding-top: 10px;
  color: black;
  text-align: left;
}
.card-header {
  text-align: left;
  color: #696969;
}
.footer-advert {
  background-color: #541554;
  padding: 6%;
  text-align: center;
  border-bottom-left-radius: 65%;
  border-bottom-right-radius: 65%;
  color: white;
}
.footer-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em 0em;
}
.footerlinks {
  line-height: 2;
  color: #696969;
}
hr {
  height: 2px;
  border-width: 0;
  color: black;
  background-color: grey;
}
footer li:hover {
  color: #4285f4;
  cursor: pointer;
}
.footnote {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 0;
}
.footnote-left li,
.footnote-right li {
  display: inline-block;
  vertical-align: center;
  font-size: 0.7rem;
  color: black;
  font-weight: bolder;
  padding-right: 1em;
}
.copyright {
  font-size: 0.8rem;
  padding-bottom: 5%;
  padding: 2.5em 0em;
}
